body strong {
    font-weight: bold;
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    padding: 10px;
    background-color: white;
    z-index: 100;
    display: none;
}
header .nameLogo {
    margin-left: 20px;
}
nav {
    position: absolute;
    top: 10px;
    right: 45px;
}
nav ul li {
    display: inline-block;
    margin: 0 0.25em 0 0;
}
nav a {
    display: block;
    border-radius: 50%;
    border: 3px solid #efefef;
    width: 15px;
    height: 15px;
}
nav .navLink1 a {
    background-color: white;
}
nav .navLink2 a {
    background-color: #3da3a2;
}
nav .navLink3 a {
    background-color: #eb713b;
}
nav .navLink4 a {
    background-color: #f2b636;
}
nav .navLink5 a {
    background-color: #3e3e3e;
}
div.triangle {
    position: absolute;
    left: 7%;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid white;
}
div.whiteTriangle {
    border-top: 25px solid white;
}
div.tealTriangle {
    border-top: 25px solid #3da3a2;
}
div.orangeTriangle {
    border-top: 25px solid #eb713b;
}
div.yellowTriangle {
    border-top: 25px solid #f2b636;
}
section, footer {
    padding: 7%;
    max-width: 100%;
    color: white;
    box-shadow: inset 0 10px 15px -8px rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
}
section h1 {
    font-size: 2.5em;
    margin-bottom: 1%;
    font-weight: bold;
}
section p {
    font-size: 1em;
    line-height: 1.5em;
}
#about {
    color: #8a8a8a;
    box-shadow: none;
    background-color: white;
    padding: 7%;
    font-family: sans-serif;
    text-align: center;
}
div.headline {
    font-size: 2.3em;
}
div.headline h1 {
    font-weight: bold;
    margin-bottom: 5%;
    font-size: 2.5em;
}
div.headline p {
    line-height: 1.4em;
}
div.headline p strong {
    font-weight: bold;
    font-size: 1.1em;
}
div.moreLinks a {
    position: relative;
    margin-top: 5%;
    display: inline-block;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    font-size: 1.2em;
    margin-left: -1.5%;
}
div.moreLinks .moreLink1 {
    background-color: rgba(61, 163, 162, 0.7);
}
div.moreLinks .moreLink2 {
    background-color: rgba(235, 113, 59, 0.7);
}
div.moreLinks .moreLink3 {
    background-color: rgba(242, 182, 54, 0.7);
}
div.moreLinks .moreLink4 {
    background-color: rgba(62, 62, 62, 0.7);
}
#timeline {
    background-color: #3da3a2;
    font-size: 1.1em;
    text-shadow: 0.07em 0.07em rgba(0, 0, 0, 0.4);
}
div#timelineWrapper {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em 0;
}
div#timelineWrapper::before {
    /* This is the line of timeline */
    
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 17%;
    width: 5px;
    background-color: #1f5251; //#2e7a7a
}
div.timelineBlock {
    position: relative;
    color: #1f5251;
    min-height: 150px;
    margin-bottom: 15px;
}
div.timelineBlock.born {
    min-height: 0px;
}
div.timelineBlock div.timelineImg {
    position: absolute;
    left: 17%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: -30px;
    background-color: #1f5251;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 2px rgba(0, 0, 0, 0.2);
}
div.timelineBlock div.timelineImg img {
    position: relative;
    max-width: 26px;
    top: 28.3333333%;
    left: 28.3333333%;
}
div.timelineDate {
    position: absolute;
    left: 2%;
    font-size: 1.5em;
    text-shadow: none;
}
div.timelineContent {
    margin-left: 30%;
}
div.timelineContent h1 {
    color: white;
    font-size: 1.5em;
}
div.timelineContent p {
    text-shadow: none;
}
@-webkit-keyframes iconBounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1.0);
    }
}
@-moz-keyframes iconBounceIn {
    0% {
        opacity: 0;
        -moz-transform: scale(0.6);
    }
    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1.0);
    }
}
@keyframes iconBounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
        -mos-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -mos-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1.0);
        -mos-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
    }
}
@-webkit-keyframes contentBounceIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(150px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0px);
    }
}
@-mos-keyframes contentBounceIn {
    0% {
        opacity: 0;
        -mos-transform: translateX(150px);
    }
    60% {
        opacity: 1;
        -mos-transform: translateX(-20px);
    }
    100% {
        -mos-transform: translateX(0px);
    }
}
@keyframes contentBounceIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(150px);
        -mos-transform: translateX(150px);
        -ms-transform: translateX(150px);
        -o-transform: translateX(150px);
        transform: translateX(150px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -mos-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0px);
        -mos-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}
#skill {
    background-color: #eb713b;
    font-size: 1.1em;
    text-shadow: 0.07em 0.07em rgba(0, 0, 0, 0.4);
}
div.skillBlock {
    margin: 4% auto;
}
div.skillBlock:after {
    display: block;
    content: "";
    clear: both;
}
div.skillBlock h1 {
    font-size: 1.6em;
}
div.chart {
    float: left;
    width: 80%;
}
div.chart h1 {
    margin-left: 10%;
    margin-bottom: 2%;
}
li.item{
    position: relative;
    margin-top: 4%;
}
li.item progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin-left: 10%;
    width: 90%;
    height: 30px;
    background: #eb713b;
}
li.item progress::-webkit-progress-value{
    background: #4b1c0f;
}
li.item progress::-webkit-progress-bar{
    background: #eb713b;
}
li.item progress::-mos-progress-bar{
    background: #4b1c0f;
}
div.bar {
    position: relative;
}
div.bar h3{
    position: absolute;
    color: #eb713b;
    top: 20%;
    left: 11%;
}
div.barImg{
    display: inline-block;
    position: absolute;
    width: 35px;
    height: 35px;
    top: -8.571428%;
}
div.barImg img{
    display: block;
    max-width: 100%;
}
div.more {
    text-align: right;
    float: right;
    max-width: 20%;
}
li.moreItem {
    color: #4b1c0f;
    text-shadow: none;
    margin: 15% 0;
}
#work {
    background-color: #f2b636;
    font-size: 1.1em;
    text-shadow: 0.07em 0.07em rgba(0, 0, 0, 0.4);
}
#contact {
    background-color: #3e3e3e;
    font-size: 1.1em;
    text-shadow: 0.07em 0.07em rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 767px) {
    header {
        text-align: center;
    }
    header .nameLogo {
        display: none;
    }
    header nav {
        position: static;
    }
    nav ul li {
        margin: 0 1em 0 0;
    }
    #about {
        padding: 5%;
    }
    div.headline {
        font-size: 1.8em;
    }
    div.headline h1 {
        font-size: 2.2em;
    }
    div.moreLinks a {
        display: none;
    }
    div.timelineContent {
        margin-left: 30%;
    }
    div.timelineDate {
        display: inline-block;
        position: relative;
        left: 30%;
        margin-bottom: 2%;
    }
    div.timelineBlock div.timelineImg {
        left: 10%;
    }
    div#timelineWrapper::before {
        left: 10%;
    }
    div.chart {
        width: 100%;
        float: none;
        clear: both;
    }
    div.more {
        text-align: left;
        float: none;
        clear: both;
        margin-top: 5%;
        max-width: 100%;
    }
    li.moreItem {
        margin: 1% 0;
    }
    div.barImg{
        width: 30px;
        top: 5%;
    }
}
@media screen and (min-width: 768px) {
    .timelineContent.isHidden {
        visibility: hidden;
    }
    .timelineContent.bounceIn {
        visibility: visible;
        -webkit-animation: contentBounceIn 0.6s;
        -moz-animation: contentBounceIn 0.6s;
        animation: contentBounceIn 0.6s;
    }
    .timelineImg.isHidden {
        visibility: hidden;
    }
    .timelineImg.bounceIn {
        visibility: visible;
        -webkit-animation: iconBounceIn 0.6s;
        -moz-animation: iconBounceIn 0.6s;
        animation: iconBounceIn 0.6s;
    }
    .timelineDate.isHidden {
        display: none;
    }
}
@media screen and (max-width: 479px){
    div.barImg{
        width: 22px;
        top: 10%;
    }
}
